## 튜플(Tuple)
* 원소 수정, 삭제, 추가 불가
* indexing, slicing은 가능

In [1]:
data = (5, 3, 5, 6, 5, 9)

In [2]:
data[3]

6

In [3]:
data[1:5]

(3, 5, 6, 5)

In [4]:
L = (1,3,5,7,9)
M = (2,4,6,8)

In [5]:
L+M

(1, 3, 5, 7, 9, 2, 4, 6, 8)

In [6]:
L*3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [7]:
3 in L

True

In [8]:
10 in L

False

In [10]:
print(len(L))
print(len(M))

5
4

In [11]:
print(L.index(5))

2

In [12]:
L.count(5)

1

In [13]:
L[1] = 10 # 튜플은 요소의 수정, 삭제, 추가 불가

TypeError: 'tuple' object does not support item assignment

## 집합(Set)
* 순서(index)가 없음
* 중복데이터가 없는 unique한 값들로 요소가 구성
* 집합연산

In [14]:
s = {4,2,6,5}

In [15]:
s.remove(6)
print(s)

{2, 4, 5}

In [16]:
s.add(6)
print(s)

{2, 4, 5, 6}

In [17]:
s.add(5)
print(s) # 중복데이터 허용 X

{2, 4, 5, 6}

In [18]:
s[3] # 순서와 인덱스가 없어서 에러 발생

TypeError: 'set' object is not subscriptable

In [19]:
5 in s

True

In [20]:
len(s)

4

In [22]:
s.clear()
print(s)

set()

In [23]:
s = {4,2,6,5}

In [24]:
s.discard(4)
print(s)

{2, 5, 6}

In [25]:
s.remove(10) # 없는 요소를 삭제하려고 하면 remove는 에러 메시지 띄우고 
s.discard(10) # 디스카드는 안 띄움

KeyError: 10

In [26]:
L = [1,2,3,5,4,3,2,1,7,3,4,4,2,]

In [27]:
set(L)

{1, 2, 3, 4, 5, 7}

In [28]:
# 집합연산

In [29]:
a = {1,3,5,7}
b = {1,2,4,6,7,8}

In [30]:
a.union(b) # 합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
a.intersection(b) #교집합

{1, 7}

In [32]:
a.difference(b) #차집합

{3, 5}

In [33]:
a.symmetric_difference(b) # 교차차집합

{2, 3, 4, 5, 6, 8}

In [34]:
a.isdisjoint(b) # 서로소

False

In [35]:
a.issubset(b) # 부분집합

False

In [36]:
a.issuperset(b) # 포함하는지 여부

False

In [37]:
# 튜플퀴즈

In [39]:
mytuple = ('tuple', (1,2,3), [4,5,6])

# 1. 'tuple'을 출력하세요
# 2. '3'을 출력하세요
# 3. '4', '5'을 출력하세요.
# 4. (1,2,3)을 출력하세요

In [40]:
print(mytuple[0])

tuple

In [41]:
print(mytuple[1][2])

3

In [42]:
print(mytuple[2][:2])

[4, 5]

In [43]:
print(mytuple[1])

(1, 2, 3)

In [44]:
mytuple = (1,2,3,3,2,1)
yourtuple = (4,5,6)

# 두 튜플을 연결하세요
# mytuple을 3번 반복하세요.
# mytuple에 3이 있는지 확인하세요.

# mytuple에 3의 갯수를 확인하세요.
# mytuple에서 2의 인덱스를 확인하세요.
# mytuple의 길이를 출력하세요.
# mytuple에서 최댓값을 출력하세요.
# mytuple의 값의 합을 출력하세요.
# mytuple을 오름차순 정렬하세요.

In [45]:
mytuple+yourtuple

(1, 2, 3, 3, 2, 1, 4, 5, 6)

In [46]:
mytuple*3

(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)

In [47]:
3 in mytuple

True

In [48]:
mytuple.count(3)

2

In [49]:
print(mytuple.index(2))

1

In [50]:
print(len(mytuple))

6

In [51]:
print(max(mytuple))

3

In [52]:
print(sum(mytuple))

12

In [55]:
temp = sorted(mytuple)
print(temp)
temp.reverse()
print(temp)

[1, 1, 2, 2, 3, 3]
[3, 3, 2, 2, 1, 1]

In [56]:
# set quiz

In [57]:
# myset이라는 원소가 없는 set을 만드세요.
# 'sky', 'earth'를 요소로 하는 set을 만드세요.
# 'moon'이라는 요소를 추가하세요.
# 'sun'이 있는지 확인하세요.
# myset의 길이를 출력하세요.
# 모든 요소를 삭제하세요.

In [89]:
del myset
myset = set()
print(myset)
myset = {'sky', 'earth'}
print(myset)

set()
{'earth', 'sky'}

In [90]:
myset.add('moon')
'sun' in myset
print(myset)
print(len(myset))
myset.clear()
print(myset)

{'moon', 'earth', 'sky'}
3
set()

In [73]:
a = {1,2,3,4,5,6}
b = {1,2,3,7,8,9}
c = {4,5,6}
# 합집합을 구하세요
print(a.union(b))
# 교집합을 구하세요
print(a.intersection(b))
# 차집합을 구하세요
print(a.difference(b))
# 대칭차집합을 구하세요
print(a.symmetric_difference(b))
# (4,5,6)이 A에 부분집합인지 확인하세요
print(c.issubset(a))
# A가 (4,5,6)을 포함하는지 확인하세요
print(a.issuperset(c))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}
True
True

In [74]:
# L = [1,2,3,4,3,3,3,4] 리스트에서 uniq한 값만 출력하세요.
set(L)

{1, 2, 3, 4, 5, 7}

## 사전(Dictionary)
* key:value 구조

In [91]:
d = {'one': 1, 'two': 2, 'three': 3}
print(d)

{'one': 1, 'two': 2, 'three': 3}

In [92]:
d['one']

1

In [93]:
d['three']

3

In [94]:
mydic = {} # s = set() 순서대로 딕셔너리 생성법 셋 생성법

In [95]:
print(mydic)

{}

In [96]:
mydic['math'] = 80
print(mydic)

{'math': 80}

In [97]:
mydic['eng'] = 90
print(mydic)

{'math': 80, 'eng': 90}

In [98]:
mydic['math'] = 100
print(mydic)

{'math': 100, 'eng': 90}

In [99]:
mydic['science'] = 70
print(mydic)

{'math': 100, 'eng': 90, 'science': 70}

In [100]:
print(len(mydic))

3

In [102]:
'kor' in mydic # key를 기준으로 존재여부 판별

False

In [103]:
'math' in mydic

True

In [104]:
mydic.pop('science')
print(mydic)

{'math': 100, 'eng': 90}

In [105]:
del mydic['eng']
print(mydic)

{'math': 100}

In [106]:
mydic.clear()
mydic

{}

In [107]:
color = {'red':1, 'blue':3}

In [109]:
color['blue']

3

In [115]:
color.get('blue')

3

In [119]:
color.get('yellow')

In [122]:
color.get('yellow', 1)

7

In [148]:
color.setdefault('blue', 5)

3

In [149]:
color.setdefault('yellow', 7)

7

In [150]:
color.keys()

dict_keys(['red', 'blue', 'yellow', 'pink'])

In [151]:
color.items()

dict_items([('red', 1), ('blue', 3), ('yellow', 7), ('pink', 8)])

In [152]:
color.values()

dict_values([1, 3, 7, 8])

In [153]:
color

{'red': 1, 'blue': 3, 'yellow': 7, 'pink': 8}

In [124]:
color2 = {'pink':8}

In [125]:
color.update(color2)
color

{'red': 1, 'blue': 3, 'yellow': 7, 'pink': 8}

In [135]:
# 연속값을 리턴하는 함수: range
print(list(range(5)))
print('\n')
print(list(range(0,5)))
print('\n')
print(list(range(1,51)))
print('\n')
print(list(range(1,51,3)))
print('\n')
print(list(range(50,0,-3)))

[0, 1, 2, 3, 4]


[0, 1, 2, 3, 4]


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]


[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]


[50, 47, 44, 41, 38, 35, 32, 29, 26, 23, 20, 17, 14, 11, 8, 5, 2]

In [136]:
# 형변환 함수

In [137]:
int('75')

75

In [138]:
float('2.5')

2.5

In [139]:
float(10)

10.0

In [140]:
print(bool(1)) # 0이 아닌 숫자값이 있으면 True, 0이면 False
print(bool(0))

True
False

In [143]:
print(bool([1,2,3])) # 원소가 있으면 True, 없으면 False
print(bool([]))

True
False

In [144]:
a = 'hello'

In [145]:
list(a)

['h', 'e', 'l', 'l', 'o']

In [146]:
tuple(a)

('h', 'e', 'l', 'l', 'o')

In [147]:
set(a)

{'e', 'h', 'l', 'o'}

In [154]:
# Dictionary Quiz

In [155]:
name = {'mary': 1099, 'sams': 2111, 'amy':2024, 'bob':5877}
name

{'mary': 1099, 'sams': 2111, 'amy': 2024, 'bob': 5877}

In [172]:
print(name['mary'])
name['kelly'] = 7887
print(name)
name['marry'] = 2000
print(name)
print('sams' in name)
print(2111 in name.values())
print(sorted(name.keys())) # sorted(name)만 해두 됨
print(sum(name.values()))
print(name.items())

1099
{'mary': 1099, 'sams': 2111, 'amy': 2024, 'bob': 5877, 'kelly': 7887, 'marry': 2000, 'chris': 3355, 'jane': 3000}
{'mary': 1099, 'sams': 2111, 'amy': 2024, 'bob': 5877, 'kelly': 7887, 'marry': 2000, 'chris': 3355, 'jane': 3000}
True
True
['amy', 'bob', 'chris', 'jane', 'kelly', 'marry', 'mary', 'sams']
27353
dict_items([('mary', 1099), ('sams', 2111), ('amy', 2024), ('bob', 5877), ('kelly', 7887), ('marry', 2000), ('chris', 3355), ('jane', 3000)])

In [169]:
# 이름을 입력받은 후 해당하는 사람의 점수를 출력하도록 하세요.
x = input('이름을 입력하시오: ')
y = name[x]
# print('점수: ', y)
print('{}의 점수는 {}점입니다.'.format(x,y))

이름을 입력하시오: kelly
점수:  7887
kelly의 점수는 7887점입니다.

In [166]:
# 이름을 입력받은 후 해당 사람이 없으면 값 3355로 새로운 요소로 추가하도록 하세요.
x = input('이름을 입력하시오: ')
text = x
name.setdefault(text, 3355)

이름을 입력하시오: chris

3355

In [167]:
name

{'mary': 1099,
 'sams': 2111,
 'amy': 2024,
 'bob': 5877,
 'kelly': 7887,
 'tom': 2000,
 'marry': 2000,
 'chris': 3355}

In [168]:
# 'Jane'의 값을 출력하고, 없으면 3000을 출력하도록 하세요.
# print(name.setdefault('jane', 3000))
nam = input('이름 입력: ')
name.get(nam, 3000)

3000