In [1]:
L = [0,1,2,3,4]

for i in L:
    print(i)

0
1
2
3
4

In [2]:
for i in L:
    print(i, end=' ')

0 1 2 3 4

In [3]:
for i in [1,2,3,4]:
    print(i, end=' ')

1 2 3 4

In [ ]:
range(4)
range(2, 20)
range(2,20,2)

In [5]:
for i in range(4):
    print(L[i], end=' ')

0 1 2 3

In [7]:
for i in range(len(L)):
    num = L[i]
    print(num, end = ' ')

0 1 2 3 4

In [9]:
names = ['철수', '영희', '바둑이', '귀도', '비단뱀']

for i in range(len(names)):
    nam = names[i]
    print('{}번 {}'.format(i, nam))

0번 철수
1번 영희
2번 바둑이
3번 귀도
4번 비단뱀

In [10]:
for i, name in enumerate(names):
    print(i, name)

0 철수
1 영희
2 바둑이
3 귀도
4 비단뱀

In [11]:
for i, name in enumerate(names):
    print('{}번 {}'.format(i, name))

0번 철수
1번 영희
2번 바둑이
3번 귀도
4번 비단뱀

In [12]:
for data in range(1,10,2):
    print(data+1, data+2)

2 3
4 5
6 7
8 9
10 11

In [16]:
for l in 'python':
    print(l, end='')

python

In [17]:
for i in 'python':
    print(i.upper(), end='')

PYTHON

In [21]:
for x in [1,2,3,4,5]:
    for y in [2,4,6,8]:
        print(x,y, end = ' / ')
    print()

1 2 / 1 4 / 1 6 / 1 8 /
2 2 / 2 4 / 2 6 / 2 8 /
3 2 / 3 4 / 3 6 / 3 8 /
4 2 / 4 4 / 4 6 / 4 8 /
5 2 / 5 4 / 5 6 / 5 8 /

In [22]:
for a in (1,2,3,4):
    for b in (5,6,7):
        print(a+b, end=' ')
    print()

6 7 8
7 8 9
8 9 10
9 10 11

In [26]:
for a in {1,2,3}:
    for b in {4,5}:
        print(a,b, end=' ')
    print()

1 4 1 5
2 4 2 5
3 4 3 5

In [27]:
for a in {1,2,3,4,5}:
    print(a)

1
2
3
4
5

In [28]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

for x in score:
    print(x)

4
2
1
5
3

In [29]:
for x in score.values():
    print(x)

90
80
95
88
92

In [30]:
for x in score.items():
    print(x)

(4, 90)
(2, 80)
(1, 95)
(5, 88)
(3, 92)

In [34]:
# 1부터 10까지 합을 구하시오.
sums = 0
for i in range(1,11):
    sums=sums+i
print(sums)

55

In [41]:
# 영어모음 : ['a', 'e', 'i', 'o', 'u']
# 아래 text에서 자음의 갯수를 구하시오.

text = 'python programming is fun!!'

count = 0
for i in text:
    if i not in ['a', 'e', 'i', 'o', 'u', ' ', '!']:
        count+=1
count

16

In [42]:
# List Comprehension

L1 = []
for i in range(5):
    L1.append(i)
L1

[0, 1, 2, 3, 4]

In [43]:
[i for i in range(0,5)]

[0, 1, 2, 3, 4]

In [44]:
for i in [1,2,4]:
    for j in [3,5,6]:
        L1.append(i+j)
L1

[0, 1, 2, 3, 4, 4, 6, 7, 5, 7, 8, 7, 9, 10]

In [46]:
[i+j for i in [1,2,4] for j in [3,5,6]]

[4, 6, 7, 5, 7, 8, 7, 9, 10]

In [47]:
L1 = []
for i in range(1,11):
    if i%2 ==0:
        L1.append(i)
L1

[2, 4, 6, 8, 10]

In [48]:
[i for i in range(1,11) if i%2 ==0]

[2, 4, 6, 8, 10]

In [125]:
# text = 'python is fun!!'에서 모음만 리스트에 담아서 리턴하시오.
# => for문, List Comprehension
text = 'python is fun!!'
vowel = 'aeiou'
L=[]

for i in text:
    print(i)
#     if text[i] in vowel:
#         L.append(text[i])
# print(L)

p
y
t
h
o
n

i
s

f
u
n
!
!

In [123]:
[i for i in text if i in vowel]

['o', 'i', 'u']

In [54]:
# 텍스트에서 짝수번 인덱스만 리스트에 담아서 리턴하시오.
L1 = []
for i in range(0, len(text),2):
    L1.append(text[i])
L1

['p', 't', 'o', ' ', 's', 'f', 'n', '!']

In [52]:
# 1 ~ 100까지 정수의 짝수들의 합을 구하시오.
temp=0
for i in range(1,101):
    if i%2==0:
        temp+=i
temp

2550

In [57]:
temp = 0
[i for i in range(1,101) if i%2==0 temp+=i]

SyntaxError: invalid syntax (<ipython-input-57-5347b86f7ace>, line 2)

In [63]:
# text에서 각 단어의 길이를 '단어 : 단어길이' 형식으로 출력하시오
# => be : 2
# => proud : 5
text = 'be proud of data analyst'
temp = text.split()
for i in range(len(temp)):
    print('{} : {}'.format(temp[i], len(temp[i])))
    
# for i in text.split():
#     print(i, ':', len(i))

be : 2
proud : 5
of : 2
data : 4
analyst : 7

In [74]:
# colors와 things의 모든 요소의 튜플 조합을 리스트에 담으시오.

colors = ['red', 'green', 'yellow', 'blue']
things = ['house', 'car', 'tree']

L1 = []

for i in colors:
    for j in things:
        L1.append((i, j))
L1

[('red', 'house'),
 ('red', 'car'),
 ('red', 'tree'),
 ('green', 'house'),
 ('green', 'car'),
 ('green', 'tree'),
 ('yellow', 'house'),
 ('yellow', 'car'),
 ('yellow', 'tree'),
 ('blue', 'house'),
 ('blue', 'car'),
 ('blue', 'tree')]

In [75]:
[(i,j) for i in colors for j in things]

[('red', 'house'),
 ('red', 'car'),
 ('red', 'tree'),
 ('green', 'house'),
 ('green', 'car'),
 ('green', 'tree'),
 ('yellow', 'house'),
 ('yellow', 'car'),
 ('yellow', 'tree'),
 ('blue', 'house'),
 ('blue', 'car'),
 ('blue', 'tree')]

In [76]:
# while

# while 조건식:
#     실행코드1
#     실행코드2

# 조건식이 참이면 실행코드 실행, 조건식이 거짓이 되면 중단

In [79]:
i = 0
while i <= 10:
    print(i)
    i+=1
i

0
1
2
3
4
5
6
7
8
9
10

11

In [81]:
# 1 ~ 10까지 정수의 합을 while문을 통해 구하시오.
i = 0
sums = 0
while i <=10:
    sums+=i
    i+=1
sums

55

In [82]:
# 1 ~ 10까지 정수 중에서 짝수의 합을 while문을 통해 구하시오.

i = 0
sums = 0
while i <11:
    if i%2==0:
        sums+=i
    i+=1
sums

30

In [83]:
# break, continue
# 1. break:
#     반복문을 반복실행하다가 break가 실행되면 반복문을 빠져나오게 된다.
# 2. continue:
#     반복문 반복하다가 continue 아래 코드를 실행하지 않고 반복문의 
#     처음으로 돌아와서 반복문을 계속 실행

In [84]:
i = 0
while i <11:
    print(i)
    i+=1
    if i >5:
        break
i

0
1
2
3
4
5

6

In [86]:
i = 0
while i <= 10:
    i += 1
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8
10
11

In [87]:
# 아래의 1~10까지 출력하는 코드에서 break와 continue를 활용해서 4,5,6,7만 출력
i = 0
while i < 10:
    i += 1
    if i<4:
        continue
    elif i>7:
        break
    else:
        print(i)

4
5
6
7

In [88]:
# 글자의 길이가 4 이상인 단어만 리스트에 담으시오.

words = ['mountain', 'sea', 'sky', 'river', 'cloud']

L=[]
for i in words:
    if len(i)>=4:
        L.append(i)
L

['mountain', 'river', 'cloud']

In [89]:
# 글자의 길이가 4 이상인 단어의 수

words = ['mountain', 'sea', 'sky', 'river', 'cloud']

temp=0
for i in words:
    if len(i)>=4:
        temp+=1
temp

3

In [93]:
#words에서 알파벳순서에 따라

# => 1번 : cloud
# => 2번 : mountain

temp = sorted(words)
i=0
for i in range(len(temp)):
    i+=1
    print('{}번 : {}'.format(i, temp[i-1]))
    
# for i, w in enumerate(sorted(words)):
#     print(i, '번 : ', w)

1번 : cloud
2번 : mountain
3번 : river
4번 : sea
5번 : sky

In [96]:
# 점수를 5회 입력받은 후
# => '점수 평균은 ***입니다.'

temp = 0

for i in range(5):
    score = int(input('점수를 입력하시오: '))
    temp += score
avera = temp/5
print('평균 점수: ', avera)

# while count<5:
#     score = int(input('점수를 입력하시오: '))
#     count+=1
#     temp+=score
# avera = temp/count
# print('평균 점수: ', avera)

점수를 입력하시오: 10
점수를 입력하시오: 20
점수를 입력하시오: 30
점수를 입력하시오: 40
점수를 입력하시오: 50
평균 점수:  30.0

In [105]:
# words를 {'mountain':'산', 'sea:바다', 'sky:하늘', 'river:강', 'cloud:구름'}로
# 전환해서 출력

words = ['mountain', 'sea', 'sky', 'river', 'cloud']
kor = ['산', '바다', '하늘', '강', '구름']

temp = {}
for w in range(len(words)):
     temp[words[w]] = kor[w]
temp

{'mountain': '산', 'sea': '바다', 'sky': '하늘', 'river': '강', 'cloud': '구름'}

In [108]:
# 모음은 모음끼리, 모음이 아닌 문자열은 별도의 리스트에 각각 담아서 리턴하시오.
text = 'python programming is useful'
jaeum = ['a','e','i','o','u']
#jaeum = 'aeiou' 걍 이렇게 만들어서 참조해두 됨
L1=[]
L2=[]
for i in range(len(text)):
    if text[i] in jaeum:
        L1.append(text[i])
    else:
        L2.append(text[i])
print(L1)
print(L2)

['o', 'o', 'a', 'i', 'i', 'u', 'e', 'u']
['p', 'y', 't', 'h', 'n', ' ', 'p', 'r', 'g', 'r', 'm', 'm', 'n', 'g', ' ', 's', ' ', 's', 'f', 'l']

In [111]:
# 2중 for문을 이용하여 구구단을 출력하시오.

for i in range(1,10):
    for j in range(1,10):
        print('{}X{}={}'.format(i,j,i*j), end=' ')
    print()

1X1=1 1X2=2 1X3=3 1X4=4 1X5=5 1X6=6 1X7=7 1X8=8 1X9=9
2X1=2 2X2=4 2X3=6 2X4=8 2X5=10 2X6=12 2X7=14 2X8=16 2X9=18
3X1=3 3X2=6 3X3=9 3X4=12 3X5=15 3X6=18 3X7=21 3X8=24 3X9=27
4X1=4 4X2=8 4X3=12 4X4=16 4X5=20 4X6=24 4X7=28 4X8=32 4X9=36
5X1=5 5X2=10 5X3=15 5X4=20 5X5=25 5X6=30 5X7=35 5X8=40 5X9=45
6X1=6 6X2=12 6X3=18 6X4=24 6X5=30 6X6=36 6X7=42 6X8=48 6X9=54
7X1=7 7X2=14 7X3=21 7X4=28 7X5=35 7X6=42 7X7=49 7X8=56 7X9=63
8X1=8 8X2=16 8X3=24 8X4=32 8X5=40 8X6=48 8X7=56 8X8=64 8X9=72
9X1=9 9X2=18 9X3=27 9X4=36 9X5=45 9X6=54 9X7=63 9X8=72 9X9=81

In [113]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [115]:
for i in range(5,0,-1):
    print('*'*i)

*****
****
***
**
*

In [117]:
for i in range(1,6):
    print(' '*i + '*'*(6-i))

 *****
  ****
   ***
    **
     *

In [118]:
for i in range(5,0,-1):
    print(' '*i + '*'*(6-i))

     *
    **
   ***
  ****
 *****

In [120]:
for i in range(1,6):
    print(' '*(i-1) + '*'*i)

*
 **
  ***
   ****
    *****