In [1]:
print('hello')

hello

In [2]:
print('''hello
world''')

hello
world

In [3]:
print('hello', 'world', 10)

hello world 10

In [4]:
a = 10
print('a = ', a)

a =  10

In [8]:
# '\' + enter => 화면상에서만 줄바꿈. 프로그램은 한줄로 인식

print('hello \
world python is \
fun')

hello world python is fun

In [9]:
# 문자열 안에서 '\'의 특수기능

# \' => '를 그대로 출력
# \n => 줄 바꿈
# \t => tab반영 출력

In [10]:
print('hello \'world\'')

hello 'world'

In [11]:
print("hello 'world'!!")

hello 'world'!!

In [12]:
print('hello \nworld')

hello
world

In [13]:
print('hello \tworld')

hello 	world

In [19]:
# 문자열 : 군집형 데이터 타입(sequential datatype) : 여러 요소가 모여서 하나의 데이터
#          요소의 수정, 삭제 추가가 안 됨
#          문자열 내에 특정한 값을 넣기 위해 => 특수 형식을 사용 : %, format

# 셀 복붙 => 셀 선택 후 c -> v

In [21]:
text = 'alice get 95 score'

print(text)

alice get 95 score

In [24]:
name = '경수'
score = 95

text1 = '%s get %d score'
text2 = '%s get %d score' % (name, score)

print(text1 % (name, score))

경수 get 95 score

In [27]:
name = '경환'
score = 90

print(text1 % (name, score))

경환 get 90 score

In [29]:
name = '경환'
score = 90

text3 = '{} get {} score'.format(name, score)

print(text3)

경환 get 90 score

In [30]:
# input() - 외부에서 수동으로 값을 입력받을 때

In [31]:
x = input()
print(x)

5
5

In [33]:
x = input('임의의 정수를 입력하세요: ')
print('입력하신 번호는:', x)

임의의 정수를 입력하세요: 12345
입력하신 번호는: 12345

In [37]:
x = input('임의의 정수를 입력하세요: ')
print('입력하신 번호는 %s입니다.' % x)

임의의 정수를 입력하세요: 5
입력하신 번호는 5입니다.

In [38]:
x = input('임의의 정수를 입력하세요: ')
print('입력하신 번호는 {}입니다.'.format(x))

임의의 정수를 입력하세요: 45
입력하신 번호는 45입니다.

In [43]:
# 임의의 정수를 입력받은 후 2배를 해서 출력

x = input('임의의 정수를 입력하세요: ')
x = int(x) # 여기에서 'x=int(x)*2'를 해두 됨
print('입력하신 번호의 2배값은 {}입니다.'.format(x*2))

임의의 정수를 입력하세요: 45
입력하신 번호의 2배값은 90입니다.

In [44]:
# 두 개의 임의의 정수를 입력받은 후 두 정수의 합을 출력하세요.
x = int(input('x의 값을 입력하세요.'))
y = int(input('y의 값을 입력하세요.'))

print(x+y)

x의 값을 입력하세요.1
y의 값을 입력하세요.2
3

In [45]:
# python operation
# +, -, *, /, **, //, %

In [46]:
10+5

15

In [47]:
10-13

-3

In [48]:
2*3

6

In [49]:
2**3

8

In [50]:
10/2 # 파이썬에서 나눗셈하면 실수 형식으로 나옴

5.0

In [51]:
30//7

4

In [52]:
30%2

0

In [53]:
31%2 # 홀수임을 알수 있음

1

In [54]:
#임의의 정수를 입력받은 후 짝수인지 홀수인지 판별

In [77]:
num = int(input('임의의 정수를 입력하세요'))

y = num%2

if y==1:
    print('정수는 홀수')
else:
    print('정수는 짝수')

임의의 정수를 입력하세요31
정수는 홀수

In [56]:
# 자신과의 연산을 간략하게 표현
# a = a+b => a+=b
# a = a - b => a-=b
# a = a * b => a *= b
# a = a / b => a /= b
# a = a ** b => a **= b
# a = a // b => a //= b
# a = a % b => a %= b

In [60]:
# 비교연산자(관계연산자) => True, False
# >, <, ==, <=, >= !=

a = 10
b = 15
c = 5

print(a < b)
print(a != c)
print(a == b)

True
True
False

In [65]:
# 논리연산자
# not : True면 False로, False면 True로
# and : 둘 다 True인 경우만 True
# or : 하나만 True이면 True

a = 10; b = 20; c = 5

print((a<b) & (b>c)) # 'a<b and b>c'로도 표시 가능
print((a<b) | (b<c)) # 'a<b or b<c'로도 표시 가능

True
True

In [66]:
(a==b) | (b != c)

True

In [75]:
d = True
print(not d)

False

In [69]:
# 기타 내장함수

In [70]:
abs(-10) #절대값

10

In [71]:
# divmod(x, y) => 나눗셈 몫과 나머지 다 표현
divmod(17, 4)

(4, 1)

In [76]:
# pow(2, 5) => 2**5
pow(2,20)

1048576