In [8]:
# 셀 선택 후 a: 새로운 셀이 위로 생성, b: 새로운 셀이 아래로 생성

### string

In [7]:
text = 'python'
num = 123456
num1 = '123456'
text1 = 'python world'

In [10]:
text = '''
hello
world
python is fun!!!'''

In [11]:
print(text)

hello
world
python is fun!!!

In [12]:
s = 'hell 'python''

SyntaxError: invalid syntax (<ipython-input-12-6df1e68c8670>, line 1)

In [14]:
s = 'hello "python"'
print(s)

hello "python"

In [15]:
# index

text = 'python programming'

In [16]:
# g만 출력
print(text[10])

g

In [17]:
# n 출력
print(text[5])

n

In [18]:
# tho
print(text[2:5])

tho

In [20]:
print(text[:6])

python

In [21]:
print(text[6:])

 programming

In [22]:
print(text[1::2])

yhnpormig

In [23]:
't' in text

True

In [24]:
'z' in text

False

In [25]:
txt1 = 'A tale that was no right'
txt2 = '이 또한 지나가리라'

In [53]:
# 1. 'e'를 출력
# 2. '라'를 출력
# 3. 'ale'를 출력
# 4. '가리라'를 출력
# 5. txt1에서 'tale'이 있는지 확인
# 6. txt2의 원소의 길이를 출력
# 7. txt2에서 짝수번 인덱스 값을 출력
# 8. txt1에서 뒤에 5개 요소 출력
# 9. txt2에서 '또한'을 출력
# 10. txt1과 txt2를 space로 이어 붙이시오
# 11. txt1을 3번 반복하세요.

In [28]:
print(txt1[5])

e

In [29]:
print(txt2[-1])

라

In [55]:
print(txt1[3:6])

ale

In [36]:
print(txt2[-3:])

가리라

In [37]:
'tale' in txt1

True

In [38]:
len(txt2)

10

In [41]:
print(txt2[::2]) # 또는 txt2[:12:2]

이또 나리

In [42]:
print(txt1[-5:])

right

In [56]:
print(txt2[2:4])

또한

In [48]:
space = txt1 + ' ' + txt2
print(space)

A tale that was no right 이 또한 지나가리라

In [52]:
print((txt1+' ')*3)

A tale that was no right A tale that was no right A tale that was no right

In [57]:
text = 'alice wonderland'

In [58]:
text.upper()

'ALICE WONDERLAND'

In [59]:
text.lower()

'alice wonderland'

In [60]:
text.title()

'Alice Wonderland'

In [62]:
state = 'mississippi'

In [64]:
state.count('ssi')

2

In [65]:
state.count('s', 5) # 5번 인덱스 이후로 s가 몇개인지

2

In [66]:
state.count('s', 3, 10) # 3 ~10인덱스 사이에서 몇개인지

3

In [67]:
state.find('s') # 내가 찾고자 하는게 몇 번 인덱스에 있는지

2

In [69]:
state.find('p') # 내가 찾고자 하는게 몇 번 인덱스에 있는지

8

In [70]:
L = ['alice', 'bob', 'cindy']
' '.join(L) # 리스트의 요소를 이어서 문자열로 변환

'alice bob cindy'

In [71]:
'-'.join(L)

'alice-bob-cindy'

In [72]:
':'.join(L)

'alice:bob:cindy'

In [73]:
text = 'python is fun!!'
text.split() # split : 문자열을 나누어서 리스트에 요소로 담아서 리턴

['python', 'is', 'fun!!']

In [74]:
d = '2020/09/18'
d.split('/')

['2020', '09', '18']

In [75]:
# 이메일을 입력받은 후 => 당신의 아이디는 **입니다.

x = input('이메일 주소를 입력하시오: ')
y = x.split('@')
print('당신의 아이디는 {}입니다.'.format(y[0]))

이메일 주소를 입력하시오: example@example.com
당신의 아이디는 example입니다.

In [76]:
print(y) # 옵션으로 maxsplit, rsplit이 있음

['example', 'example.com']

In [78]:
# 주민번호를 입력받은 후 
# 당신의 출생년도는 **, 월은 **, 일은 **, 당신의 나이는 **, 주민번호의 길이는 **입니다

In [79]:
x = input('주민번호를 입력하시오: ')

주민번호를 입력하시오: 900426-123456789

In [95]:
birth_year = '19'+x[:2]
birth_month = x[2:4]
birth_day = x[4:6]

In [97]:
age = 2020 - int(birth_year)
print(age)

30

In [99]:
lenth_x = len(x)
print(lenth_x)

16

In [100]:
print('''
당신의 출생년도는 {} 월은 {} 일은 {}
당신의 나이는 {}
주민번호의 길이는 {}입니다.'''.format(birth_year, birth_month, birth_day, age, lenth_x))

당신의 출생년도는 1990 월은 04 일은 26
당신의 나이는 30
주민번호의 길이는 16입니다.

### List

In [101]:
score = [80, 90, 75, 'python', 'hello', 75.3, True]

In [102]:
print(score[3])

python

In [103]:
len(score)

7

In [104]:
print(score[-2])

75.3

In [105]:
score[2] = 100
print(score)

[80, 90, 100, 'python', 'hello', 75.3, True]

In [106]:
print(score[3][2:4])

th

In [107]:
# hello의 길이 구하기
len(score[-3])

5

In [108]:
# 빈 리스트
L = []
# L = list() 위랑 같은 거임

In [109]:
score[1:4]

[90, 100, 'python']

In [110]:
score[:3]

[80, 90, 100]

In [111]:
score[3:]

['python', 'hello', 75.3, True]

In [112]:
score[2:7:3]

[100, 75.3]

In [113]:
L1 = [1,3,4,5,6]
L2 = [4,7]

In [114]:
print(L1+L2)

[1, 3, 4, 5, 6, 4, 7]

In [115]:
L2*2

[4, 7, 4, 7]

In [116]:
5 in L1

True

In [117]:
100 in L1

False

In [118]:
len(L1)

5

In [119]:
L = [6, 8, 2, 9, 5]

In [120]:
sum(L)

30

In [121]:
max(L)

9

In [122]:
min(L)

2

In [123]:
len(L)

5

In [124]:
sorted(L) # 원본에 반영은 안 되고 정렬 결과만 반환

[2, 5, 6, 8, 9]

In [127]:
L.sort() # 원본 정렬을 하고 겨로가를 반환하지는 않음
L

[2, 5, 6, 8, 9]

In [128]:
L.append(100)
print(L)

[2, 5, 6, 8, 9, 100]

In [129]:
L.append('python')
print(L)

[2, 5, 6, 8, 9, 100, 'python']

In [130]:
L.insert(1, 77)
print(L)

[2, 77, 5, 6, 8, 9, 100, 'python']

In [131]:
100 in L

True

In [132]:
L.count(100)

1

In [133]:
L.append(100)
L.count(100)

2

In [134]:
print(L)

[2, 77, 5, 6, 8, 9, 100, 'python', 100]

In [135]:
L.pop(1)
L

[2, 5, 6, 8, 9, 100, 'python', 100]

In [137]:
L.remove(100) # 팝은 인덱스 기준으로 삭제, 리무브는 지정 값을 삭제
L

[2, 5, 6, 8, 9, 'python']

In [138]:
L.index('python')

5

In [139]:
L.reverse()
L

['python', 9, 8, 6, 5, 2]

In [140]:
L.clear()
L

[]

In [142]:
del L # 리스트 자체를 삭제
L

NameError: name 'L' is not defined

In [143]:
score

[80, 90, 100, 'python', 'hello', 75.3, True]

In [144]:
score1 = score.copy()
score1

[80, 90, 100, 'python', 'hello', 75.3, True]

In [145]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '지구']
solarsys1 = ['토성', '천왕성', '해왕성']

In [146]:
# 1. 행성의 이름을 입력받은 후 solarsys에 있는지 확인하시오
# 2. 입력받은 행성이 몇 번째 인덱스에 있는지 확인하시오.
# 3. 입력받은 행성을 solarsys의 맨 마지막에 추가하시오.
# # - 지금부터 문제는 solarsys list를 기준으로 풀이하시오
# 4. ['수성','금성','지구']를 출력하시오
# 5. '지구'의 위치 인덱스를 출력하시오.

# 6. '화성'을 '해왕성'으로 변경하시오.
# 7. '수성' 자리에 '명왕성'을 입력하시오.
# 8. '토성'을 맨 끝에 추가하시오.
# 9. '금성'을 제거하시오.
# 10. 2번 인덱스 요소를 삭제하시오.

# 11. solarsys와 solarsys1을 연결하시오.
# 12. 내림차순으로 정렬하시오.
# 13. 원소의 순서를 반대로 하시오.
# 14. solarsys에 '만리장성'이 있는지 확인하시오.
# 15. solarsys를 3번 반복하시오.

# 16. solarsys의 길이를 리턴하시오.
# 17. solarsys의 모든 원소를 지우시오.
# 18. solarsys 리스트를 삭제하시오.

In [153]:
x = input('행성 이름 입력: ')
print(x in solarsys)
solarsys.append(x)

행성 이름 입력: 명왕성
False

In [154]:
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '지구', '명왕성']

In [157]:
print(solarsys[1:4])
print(solarsys.index('지구'))

['수성', '금성', '지구']
3

In [158]:
solarsys[4] = '해왕성'
solarsys[1] = '명왕성'
solarsys.append('토성')
solarsys.remove('금성')
solarsys.pop(2)
print(solarsys)

['태양', '명왕성', '해왕성', '목성', '지구', '명왕성', '토성']

In [161]:
print(solarsys + solarsys1)
solarsys.sort()
print(solarsys)
solarsys.reverse()
print(solarsys)
print('만리장성' in solarsys)
print(solarsys*3)

['해왕성', '토성', '태양', '지구', '목성', '명왕성', '명왕성', '토성', '천왕성', '해왕성']
['명왕성', '명왕성', '목성', '지구', '태양', '토성', '해왕성']
['해왕성', '토성', '태양', '지구', '목성', '명왕성', '명왕성']
False
['해왕성', '토성', '태양', '지구', '목성', '명왕성', '명왕성', '해왕성', '토성', '태양', '지구', '목성', '명왕성', '명왕성', '해왕성', '토성', '태양', '지구', '목성', '명왕성', '명왕성']

In [162]:
print(len(solarsys))
solarsys.clear()
print(solarsys)
del solarsys

7
[]

In [163]:
print(solarsys)

NameError: name 'solarsys' is not defined