In [1]:
pwd

'D:\\Bigdata\\python'

In [4]:
바보=10
print(바보)

10

In [5]:
print('hello world')

hello world

In [6]:
# 주석부분은 컴퓨터가 해석하지 않고 텍스트로 처리
# 제목, 부연설명 시에 사용
# 파이썬에서 주석
'''
1. 한 줄 주석 => #
2. 여러줄 주석 => ''''''
'''

print('hello python')

hello python

In [8]:
# 셀 선택 후 명령 모드에서 dd 연타하면 셀 삭제됨(vi 에디터랑 똑같네)

In [9]:
# variable(변수): 데이터를 담는 그릇, 명령을 받으면 데이터가 처리된다. 
# 변수 선언 : '='를 통해 변수를 선언한다.
# '='(할당자) : 오른쪽의 데이터를 왼쪽의 변수에 담는다.

In [10]:
a = 10 # 정수(int)
b = 3.5 # 실수(float)
c = 'hello world' # 문자열(string)

In [11]:
print(a)

10

In [12]:
print(a,b,c) # 여러개를 화면 출력하는 방법

10 3.5 hello world

In [13]:
# 실행취소 단축키 ctrl + z

In [54]:
# 변수 생성 조건

"""
1. 영문 대소문자, 숫자, _(underscore)로만 구성
2. 숫자로 시작은 불가
3. 파이썬은 대소문자 구분함 => data와 Data는 다른 것으로 취급
4. 파이썬 문법 키워드는 변수로 사용이 금지 => flase, true, and, or 같은 것
5. 한글 변수도 사용은 가능
"""

# 블록선택 하고서 (ctrl + /) 하면 여러줄 주석 설정이 됨

2+1 # 요 계산식 없이 실행해버리면 여러줄 주석이 출력되어버림

3

In [16]:
number = 20162345
python_score = 95

In [17]:
math-score = 95 # _만 변수로 사용 가능

SyntaxError: cannot assign to operator (<ipython-input-17-154331387d1d>, line 1)

In [19]:
math1 = 80
1math = 80 # 변수에 숫자가 "앞으로 와서" 문제

SyntaxError: invalid syntax (<ipython-input-19-d6d43d2c5023>, line 2)

In [20]:
# 파이썬 데이터
# 1. 기본형(하나의 요소로 된거)
# int, float, bool
# 2. 군집형(여러 요소가 모여서 하나의 데이터 형성)
# - string : 'python world'
# - list : ['python', 'world']
# - tuple : ('python', 'world')
# - dictionary

In [21]:
b = 3.5
print(b)

3.5

In [22]:
type(b)

float

In [23]:
e = 'python'
type(e)

str

In [24]:
e = [1,3,4,5]
type(e)

list

In [25]:
e = (1,3,4,5)
type(e)

tuple

In [26]:
e = {1,3,4,5}
type(e)

set

In [27]:
e= {'a' : 1, 'b' : 3}
type(e)

dict

In [28]:
isinstance(e, dict)

True

In [29]:
# int(정수형)

a = 23
type(a)

int

In [30]:
isinstance(a, int)

True

In [31]:
isinstance(a, float)

False

In [32]:
# 형변환 함수 : int, str, float

a = int(5.6)
type(a)

int

In [33]:
print(a)

5

In [56]:
b = str(5.6)
type(b)

str

In [57]:
print(b)
b+a

5.6

TypeError: can only concatenate str (not "int") to str

In [36]:
float(5)

5.0

In [37]:
# 사칙연산
# +, -, *, /, **, %

In [38]:
2+6

8

In [39]:
4-5

-1

In [40]:
2*4

8

In [41]:
4**2

16

In [42]:
4/2

2.0

In [43]:
5%2

1

In [58]:
# float

round(1.5) # 반올림

2

In [45]:
a = 5.4829185478
round(a, 2) #소수점 둘째자리까지만 표현

5.48

In [59]:
import math # 외부 패키지를 가져옴
math.ceil(1.05) # 올림

2

In [47]:
math.floor(1.9) # 버림

1

In [48]:
# 비교연산 => bool (True, False)

a = 2
b = 3

In [49]:
a == 3

False

In [50]:
a < b

True

In [51]:
a != b

True

In [52]:
# name = python world

"""
hello world
hello world
hello world
"""

a + b

5

In [53]:
!dir

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 8A45-2B88

 D:\Bigdata\python 디렉터리

2020-09-17  오후 05:11    <DIR>          .
2020-09-17  오후 05:11    <DIR>          ..
2020-09-17  오후 03:46    <DIR>          .ipynb_checkpoints
2020-09-17  오후 05:11            16,056 python_datatype_1.ipynb
               1개 파일              16,056 바이트
               3개 디렉터리  744,011,976,704 바이트 남음

In [61]:
a = 10
b = 5
print('a = ', b)

a =  5

In [64]:
print('hello \
world')

hello world

In [67]:
print('hello \n world \n python \t programming')

hello
 world
 python 	 programming

In [68]:
name = 'Alice'
score = 95
print('%s got %d score' % (name, score))

Alice got 95 score

In [ ]:
math = 93.5
eng = 88.3
print(Math is )